<template>
  <div id="app">
    <ArticleAdministration msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
const ArticleAdministration = require('./components/ArticleAdministration.vue');

module.exports = {
  name: 'ArticleApp',
  components: {
    ArticleAdministration: ArticleAdministration.default || ArticleAdministration,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
